{%- extends "layout.html" %}
{% set title = _('Search') %}
{%- block scripts %}
    {{ super() }}
    <script src="{{ pathto('_static/searchtools.js', 1) }}"></script>
    <script src="{{ pathto('_static/language_data.js', 1) }}"></script>
{%- endblock %}
{% block extrahead %}
    <script src="{{ pathto('searchindex.js', 1) }}" defer></script>
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="uu-hero text-bg-blue">
        <h1 id="search-documentation">{{ _('Search') }}</h1>
    </div>
    {% block scriptwarning %}
        <noscript class="w-100">
            <div class="alert alert-danger uu-container">
                <p>
                    {% trans %}Please activate JavaScript to enable the search
                        functionality.{% endtrans %}
                </p>
            </div>
        </noscript>
    {% endblock %}
    {% block searchbox %}
        <div class="uu-container">
            <form action="" method="get" class="w-100">
                <div class="input-group">
                    <input type="text" name="q" aria-labelledby="search-documentation" value="" autocomplete="off"
                           autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control"/>
                    <button type="submit" class="btn btn-primary">
                        {{ _('search') }}
                    </button>
                </div>
            </form>
        </div>
    {% endblock %}
    {% block searchresults %}
        <div class="uu-container">
            {% if search_performed %}
                <h2>{{ _('Search Results') }}</h2>
                {% if not search_results %}
                    <p>{{ _('Your search did not match any documents. Please make sure that all words are spelled correctly and that you\'ve selected enough categories.') }}</p>
                {% endif %}
            {% endif %}
            <div id="search-results">
                {% if search_results %}
                    <ul>
                        {% for href, caption, context in search_results %}
                            <li><a href="{{ pathto(item.href) }}">{{ caption }}</a>
                                <div class="context">{{ context|e }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    {% endblock %}
{% endblock %}
